body{
    background: rgb(119, 119, 119);
}

.cursor {
    cursor: pointer;
}

.search-input {
    position: absolute;
    right: 0;
    top: 40px;
    width: 220px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    display: none;
    background: white;
}
.icon{
    width:22px;
    height:22px;
    cursor:pointer;
    margin-left: 40px;
}
.txt{
  margin-left: 40px;
}
.nav-link:hover{
  transition: color 0.6s ease;
  color: rgba(184, 142, 47, 1);
}
.icon:hover{
  transition: transform 0.6s ease;
  transform: translateY(-2px);
}
.icon{
  transition: transform 0.6s ease;
}
.nav-link{
  transition: color 0.6s ease;
}















/* start  */
.block6 {
    padding: 80px 100px 30px 100px;
    background-color: #fff;
    border-top: 1px solid #000000;
    font-family: 'Poppins', sans-serif;
    margin-top: 100px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap; /* Mobil qurilmalarda pastga tushishi uchun */
}

.footer-info h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 40px;
}

.footer-info p {
    color: #9F9F9F;
    font-size: 16px;
    line-height: 24px;
}

.footer-links h4, 
.footer-newsletter h4 {
    color: #9F9F9F;
    font-weight: 500;
    margin-bottom: 40px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 40px;
}

.footer-links ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

/* Newsletter Input va Button */
.subscribe-box {
    display: flex;
    gap: 10px;
    border-bottom: 1px solid black; /* Faqat tagida chiziq bo'lishi uchun */
}

.subscribe-box input {
    border: none;
    outline: none;
    padding: 5px 0;
    font-size: 14px;
    width: 200px;
}

.subscribe-box button {
    border: none;
    background: none;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
    padding-bottom: 5px;
}

/* Footerning eng pasti */
.footer-bottom {
    margin-top: 40px;
    border-top: 1px solid rgba(51, 51, 51, 1);
}

.footer-bottom hr {
    border: 0;
    border-top: 1px solid #D9D9D9;
    margin-bottom: 30px;
}

.footer-bottom p {
    font-size: 16px;
    color: #000;
}

/* finish */


/* start  */
.rt{
  transition: all 0.6s ease-in-out;
}
.rt:hover{
  color: #b88e2f;
  transition: all 0.6s ease-in-out;
}
